<html>
   <head>
      <title>Sara's Django Girls blog</title>
   </head>
   <body>
       <div>
          <h1> <a href="">Django Girls Blog</a> </h1>
       </div>
       <div> 
           <p> published: 20/11/2015, in Valencia! </p>
           <h2><a href="">My first post </a></h2>
           <p> Przyjechalismy do Walencji, jestem na warsztatach programowania z DjangoGirls i jestem super podekscytowana </p>
       </div>
       <div>
           <p> published: 21/11/2015, still in Valencia! </p>
           <h2><a href="">My second post </a></h2>
           <p> Nie jest to latwe, ale zdaje mi sie, ze sie tym zajme, to wszystko jest bardzo ciekawe! </p>
       </div>

   </body>
</html>
